@model IEnumerable<Models.Nota>

@{ ViewBag.Title = "Todas as Anotações";}

<h2>@ViewBag.Title</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Titulo</th>
    @if(Model != null)
    {
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
        </tr>
        }
    }
</table>
